<!DOCTYPE html>
<html>
<head>
    <title>Datatable</title>
    <meta name="author" content="Klara Krmpotić">
    <meta name="description" content="Search engine for database tables">
    <meta charset="UTF-12">
    <link rel="stylesheet" type="text/css" href="/public/style/index.css">
</head>

<body>

    <%- include(`partials/header`); %>

    <main>
        <h2>Polje za pretragu</h2>

        <form class="poljePretraga" name="formFilter" method="POST" action="/datatable/filter">
            <a>Po ovoj vrijednosti će se pretraživati podaci</a>
            <input type="text" id="vrijednost" name="vrijednost" placeholder="Unesite vrijednost"><br>
            <br><br>
            <label for="polje">Odaberi polje za pretragu:</label>
            <select name="polje" id="polje" placeholder="Odaberi polje" onchange="kojePolje(this.value)">
                <option value="sve">Sva polja (wildcard)</option>
                <option value="idHotel">ID</option>
                <option value="imeHotel">Ime</option>
                <option value="brZvjezdica">Broj zvjezdica</option>
                <option value="telefonHotel">Telefon</option>
                <option value="email">Email</option>
                <option value="adresaHotel">Adresa</option>
                <option value="brojSoba">Broj soba</option>
                <option value="wikiStranica">Wikipedia stranica</option>
                <option value="godIzgradnje">Godina izgradnje</option>
                <option value="nazivGrad">Grad</option>
            </select>
            <br><br>
            <input type="submit" value="Search">
        </form>
        <!--HTML tablice koja se zajedno s obrascem za filtriranje i asinkronim pozivom za dohvaćanje podataka-->
        <p>

        </p>
        <p>

        </p>
        <form name="formDodaj" method="GET" action="/datatable/dodaj">
            <input class="math-btn" type="submit" name="dodaj" value='Dodaj novi hotel'/>
        </form>
        <table>
            <tr>    <!--Popis atributa-->
                <th>Hotel ID    </th>
                <th>Ime hotela  </th>
                <th>Broj zvjezdica  </th>
                <th>Telefon     </th>
                <th>Email   </th>
                <th>Adresa  </th>
                <th>Broj soba   </th>
                <th>Wiki handle </th>
                <th>Godina izgradnje</th>
                <th>Ime grada   </th>
                <th>Poštanski broj  </th>
            </tr>
            <tr id="promjena">

            </tr>
            <% for (let hotel of hotels) { %>
                <tr id="promjena">
                    <td> <%= hotel.idhotel %> </td>
                    <td> <%= hotel.imehotel %> </td>
                    <td> <%= hotel.brzvjezdica %> </td>
                    <td> <%= hotel.telefonhotel %> </td>
                    <td> <%= hotel.email %> </td>
                    <td> <%= hotel.adresahotel %> </td>
                    <td> <%= hotel.brojsoba %> </td>
                    <td> <%= hotel.wikistranica %> </td>
                    <td> <%= hotel.godizgradnje %> </td>
                    <td> <%= hotel.nazivgrad %> </td>
                    <td> <%= hotel.pbrgrad %> </td>
                    <td class="gumbi">
                        <div>
                            <form name="formEdit" method="GET" action="/datatable/edit/<%= hotel.idhotel %>">
                                <input class="math-btn" type="submit" name="edit" value='E'/>
                            </form>
                            <form name="formDelete" method="DELETE" action="/datatable/delete/<%= hotel.idhotel %>">
                                <input type="submit" name="delete" value='D' onClick="return confirm('Are you sure you want to delete?')" />
                                <!--<input type="hidden" name="_method" value="DELETE" />-->
                            </form>
                        </div>                                             
                    </td>
                </tr>
            <% } %>
        
        </table>
    </main>

</body>

<script>

</script>

</html>